In [4]:
x=["pranav",30,19,"22/5/2004","kunnamkulam"]

In [5]:
print(x)

['pranav', 30, 19, '22/5/2004', 'kunnamkulam']

In [6]:
x[0]

'pranav'

In [8]:
x[3]

'22/5/2004'

In [15]:
x.append("thrissur")

In [16]:
print(x)

['pranav', 30, 19, '22/5/2004', 'kunnamkulam', 'malapuram', 'thrissur', 'thrissur']

In [17]:
x.insert(1,"kerala")

In [18]:
print(x)

['pranav', 'kerala', 30, 19, '22/5/2004', 'kunnamkulam', 'malapuram', 'thrissur', 'thrissur']

In [43]:
x=int(input("enter your marks:"))
if x>50:
    print("passed")
else:
    print("failed")

enter your marks: 55

passed

In [59]:
x=["tony","bharath","kannan"]
y=input("enter a name:")
x.append(y)

enter a name: yadhu